apiVersion: v1
kind: Secret
metadata:
  name: mattermost-user-credentials
  namespace: mattermost-minio
type: Opaque
stringData:
  MINIO_ACCESS_KEY: "${MINIO_SERVICE_USER}"
  MINIO_SECRET_KEY: "${MINIO_SERVICE_PASSWORD}"
