apiVersion: v1
data:
  DB_CONNECTION_CHECK_URL: ${CONNECTION_STRING_BASE64}
  DB_CONNECTION_STRING: ${CONNECTION_STRING_BASE64}
kind: Secret
metadata:
  name: mattermost-postgres
  namespace: mattermost
type: Opaque
