apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mattermost-tls-cert
  namespace: mattermost
spec:
  secretName: mattermost-tls-cert
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
  - ${DOMAIN}
