apiVersion: installation.mattermost.com/v1beta1
kind: Mattermost
metadata:
  name: mattermost
  namespace: mattermost
spec:
  size: ${MATTERMOST_SIZE}
  ingress:
    enabled: true
    host: ${DOMAIN}
  database:
    external:
      secret: mattermost-postgres
  fileStore:
    external:
      url: minio.mattermost-minio.svc.cluster.local
      bucket: mattermost
      secret: mattermost-secret-minio
  licenseSecret: mattermost-secret-license
  image: mattermost/mattermost-enterprise-edition
  imagePullPolicy: IfNotPresent
  mattermostEnv:
  - name: MM_FILESETTINGS_AMAZONS3SSL
    value: "${MM_FILESETTINGS_AMAZONS3SSL}"
  - name: MM_FILESETTINGS_AMAZONS3SSE
    value: "${MM_FILESETTINGS_AMAZONS3SSE}"
  - name: MM_FILESETTINGS_AMAZONS3TRACE
    value: "${MM_FILESETTINGS_AMAZONS3TRACE}"
  - name: MM_SERVICEENVIRONMENT
    value: "${MM_SERVICEENVIRONMENT}"
  version: ${MATTERMOST_VERSION}
  podTemplate:
    securityContext:
      fsGroup: 2000
