apiVersion: v1
kind: Secret
metadata:
  name: s3proxy-credentials
  namespace: ${S3PROXY_NAMESPACE}
type: Opaque
data:
  access-key: ${S3PROXY_ACCESS_KEY_BASE64}
  secret-key: ${S3PROXY_SECRET_KEY_BASE64}
